table.logs {
	width: 100%;
	white-space: normal;
	margin-bottom: 14px;
}

table.logs td, table.logs th {
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	padding: .8em;
	text-align: left;
	font-weight: normal;
	position: relative;
}

table.logs .time {
	width: 100px;
}

table.logs .app {
	width: 150px;
}

table.logs .level {
	width: 100px;
}

/*info*/
table.logs tr.level_1 {
	background-color: #BDE5F8;
}

/* warning*/
table.logs tr.level_2 {
	background-color: #FEEFB3;
}

/*error*/
table.logs tr.level_3 {
	background-color: #FFBABA;
}

/*fatal*/
table.logs tr.level_4 {
	background-color: #ff8080;
}

span.exception {
	font-weight: bold;
}

span.exceptionRow {
	display: inline-block;
	width: 100%;
	cursor: pointer;
}

span.exceptionRow * {
	cursor: inherit;
}

span.exceptionRow.retracted::after, span.exceptionRow.expanded::after {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 10px;
}

span.exceptionRow.retracted::after {
	content: '▼';
}

span.exceptionRow.expanded::after {
	content: '▲';
}

ol.trace {
	padding-top: 0.5em;
}

ol.trace > li {
	padding: 0.3em;
}

ol.trace .file, ol.trace .line {
	font-style: italic;
}
