.content {
	width: 100%;
}

#logreader-root {
	height: 100%;
	width: 100%;
}

#log-section {
	display: none; /** we overwrite this */
}

.log-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
