#logreader-root {
	width: 100%;
	height: calc(100vh - 56px);
}

#logreader-root > div {
	height: 100%;
	overflow: auto;
}

#log-section {
	display: none; /** we overwrite this */
}

.log-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.highlight-enter {
	background-color: var(--color-warning);
}

.highlight-enter.highlight-enter-active {
	background-color: var(--color-main-background);
	transition: background 1500ms ease-in;
}
