.N_89cD18nhnILDxx2rPQ {
  padding: 0.3em;
}

  .N_89cD18nhnILDxx2rPQ .K64K6ropEh3ixO4gyDe0, .N_89cD18nhnILDxx2rPQ .N_89cD18nhnILDxx2rPQ {
    font-style: italic;
  }

  .N_89cD18nhnILDxx2rPQ .V2UnA5f52iL4gOs1dAz9 {
    font-weight: bold;
  }

.qNV7nHT_Ql4vXe1NBMWE {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  background-position: 100% 4px;
}

  .qNV7nHT_Ql4vXe1NBMWE * {
    cursor: inherit;
  }

  .qNV7nHT_Ql4vXe1NBMWE .QzE3v2T4tPNIhsAg9Ca6 {
    font-weight: bold;
  }

  .qNV7nHT_Ql4vXe1NBMWE ol.jy3ivfO0SB6NHxEZju_b {
    padding-top: 0.5em;
  }

  .qNV7nHT_Ql4vXe1NBMWE .wnaY4wLHogxF8o_TXQBN {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #eee;
  }

.s2s3Vdnbg0rrqYE79RSY a {
    line-height: 30px;
  }
  .s2s3Vdnbg0rrqYE79RSY input[type="checkbox"] {
    margin: 5px;
  }
  .s2s3Vdnbg0rrqYE79RSY label {
    margin: 5px;
  }


.lODkRjrdTCfuq27vqQ9O {
  padding: 1em;
  z-index: 100;
  position: absolute;
  top: 43px;
  left: 10px;
  width: 240px;
}

  .lODkRjrdTCfuq27vqQ9O li {
    list-style: none;
  }

  .lODkRjrdTCfuq27vqQ9O li a {
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

  .lODkRjrdTCfuq27vqQ9O > a {
    margin: 5px;
    display: inline-block;
  }

  .lODkRjrdTCfuq27vqQ9O h4 {
    font-weight: bold;
    padding-left: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .lODkRjrdTCfuq27vqQ9O h4:first-child {
      padding-top: 0;
    }

.lODkRjrdTCfuq27vqQ9O:after {
  left: 75px;
}

.TmLT1_bWqe90xjFQbhgG {
  margin: 12px 12px;
}

.XdjZ45iqoqqO7fTLXNa_ {
	width: 100%;
	white-space: normal;
	table-layout: fixed;
}

	.XdjZ45iqoqqO7fTLXNa_ th {
		color: var(--color-text-maxcontrast);
	}

	.XdjZ45iqoqqO7fTLXNa_ td, .XdjZ45iqoqqO7fTLXNa_ th {
		vertical-align: top;
		padding: .8em;
		text-align: left;
		font-weight: normal;
		position: relative;
		word-wrap: break-word;
		border-bottom: 1px solid var(--color-border);
	}

	.XdjZ45iqoqqO7fTLXNa_ th.OTKDXFrip__elQzsAO0r.PIkSH87iHxcRi78SpPO5 .imcC9c3R9fJZg3WmfyVs,
	.XdjZ45iqoqqO7fTLXNa_ th.OTKDXFrip__elQzsAO0r:hover .imcC9c3R9fJZg3WmfyVs {
		opacity: 1;
	}

	.XdjZ45iqoqqO7fTLXNa_ .kFuUckbAvyja2Ag036hC {
		width: 220px;
	}

	.XdjZ45iqoqqO7fTLXNa_ .kFuUckbAvyja2Ag036hC > span {
			margin: -0.8em;
			padding: .8em;
			display: block;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}

	.XdjZ45iqoqqO7fTLXNa_ .kFuUckbAvyja2Ag036hC.i1tr8CZWN3c70YDkUWkL {
		width: 120px;
	}

	.XdjZ45iqoqqO7fTLXNa_ .kFuUckbAvyja2Ag036hC.i1tr8CZWN3c70YDkUWkL > span {
			margin: -0.8em;
			padding: .8em;
			display: block;
			width: 100%;
			height: 100%;
			cursor: pointer;
		}

	.XdjZ45iqoqqO7fTLXNa_ .xqVQg6rdRxO7oFKshz4X {
		width: 100px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	@media only screen and (max-width: 1100px) {

	.XdjZ45iqoqqO7fTLXNa_ td.xqVQg6rdRxO7oFKshz4X, .XdjZ45iqoqqO7fTLXNa_ th.xqVQg6rdRxO7oFKshz4X {
			display: none
	}
		}

	.XdjZ45iqoqqO7fTLXNa_ .OTKDXFrip__elQzsAO0r {
		width: 100px;
	}

	/* warning*/

	.XdjZ45iqoqqO7fTLXNa_ .I8YveEuWz7l6vAqN2ZpX td.OTKDXFrip__elQzsAO0r {
		border-left: 5px solid #FEEFB3;
	}

	/*error*/

	.XdjZ45iqoqqO7fTLXNa_ ._dpTlqtXxRfD5UUDgzUQ td.OTKDXFrip__elQzsAO0r {
		border-left: 5px solid #FFBABA;
	}

	/*fatal*/

	.XdjZ45iqoqqO7fTLXNa_ .Xqy_ZgAI4shgUleaJDbh td.OTKDXFrip__elQzsAO0r {
		border-left: 5px solid #ff8080;
	}

	.XdjZ45iqoqqO7fTLXNa_ div.f83xM5wm00L20egbQ1CO {
		box-sizing: border-box;
		padding: 7px;
	}

	.XdjZ45iqoqqO7fTLXNa_ div.OTKDXFrip__elQzsAO0r {
		font-weight: bold;
	}

	.XdjZ45iqoqqO7fTLXNa_ div.OTKDXFrip__elQzsAO0r, .XdjZ45iqoqqO7fTLXNa_ div.xqVQg6rdRxO7oFKshz4X, .XdjZ45iqoqqO7fTLXNa_ div.kFuUckbAvyja2Ag036hC {
		display: inline-block;
		width: 33%;
	}

	.XdjZ45iqoqqO7fTLXNa_ div.kFuUckbAvyja2Ag036hC {
		padding-right: 20px;
	}

	.XdjZ45iqoqqO7fTLXNa_ div._11ptqdmixtsEMGf3hSbw {
		position: relative;
	}

	.XdjZ45iqoqqO7fTLXNa_ div.ojADgEudAbV5jlfkmM3w {
		border-bottom: 1px solid var(--color-border);
	}

	.XdjZ45iqoqqO7fTLXNa_ td.icHaLzkPGTJOpB7Cu_jA, .XdjZ45iqoqqO7fTLXNa_ th.icHaLzkPGTJOpB7Cu_jA {
		position: relative;
		width: 42px;
		margin: 0;
		overflow: visible;
	}

	.XdjZ45iqoqqO7fTLXNa_ td.icHaLzkPGTJOpB7Cu_jA button, .XdjZ45iqoqqO7fTLXNa_ th.icHaLzkPGTJOpB7Cu_jA button {
			position: relative;
			opacity: 0;
			transition: opacity 0.5s;
			top: -5px;
			padding: 0;
			background-color: transparent;
			border: none;
			width: 42px;
		}

	.XdjZ45iqoqqO7fTLXNa_ tr:hover td.icHaLzkPGTJOpB7Cu_jA button {
			opacity: 0.5;
		}

	.XdjZ45iqoqqO7fTLXNa_ tr:hover td.icHaLzkPGTJOpB7Cu_jA button:hover {
				opacity: 1;
			}

	.XdjZ45iqoqqO7fTLXNa_ tr.PIkSH87iHxcRi78SpPO5 td.icHaLzkPGTJOpB7Cu_jA button {
		opacity: 1;
	}

	.XdjZ45iqoqqO7fTLXNa_ div.WZsA89U1xjC9TKaKVr5A {

	}

	.XdjZ45iqoqqO7fTLXNa_ div.I8YveEuWz7l6vAqN2ZpX {
		border-left: 5px solid #FEEFB3;
	}

	.XdjZ45iqoqqO7fTLXNa_ div._dpTlqtXxRfD5UUDgzUQ {
		border-left: 5px solid #FFBABA;
	}

	.XdjZ45iqoqqO7fTLXNa_ div.Xqy_ZgAI4shgUleaJDbh {
		border-left: 5px solid #ff8080;
	}

	.XdjZ45iqoqqO7fTLXNa_ tr.qDAf54byDNY5UFQxRYvT td {
		border-bottom: none;
	}

	.XdjZ45iqoqqO7fTLXNa_ tr.tu45NBAQPjbMIDddErhh {
		background-color: var(--color-background-hover);
	}

.CNJyrFLh3DbQQwtHgZko,
th.OTKDXFrip__elQzsAO0r {
	overflow: visible;

	margin: -0.8em;
	padding: .8em;
	height: 100%;
	cursor: pointer;
}

.CNJyrFLh3DbQQwtHgZko .imcC9c3R9fJZg3WmfyVs, th.OTKDXFrip__elQzsAO0r .imcC9c3R9fJZg3WmfyVs {
		cursor: pointer;
		display: block;
		float: right;
		margin: 2px;
		opacity: 0.5;
		transition: opacity 0.2s;
	}

.CNJyrFLh3DbQQwtHgZko {
	margin-left: 44px;
	width: 62px;
	padding: 10px;
}

.CNJyrFLh3DbQQwtHgZko .imcC9c3R9fJZg3WmfyVs:hover {
		opacity: 1;
	}

.bWCLNNq_1e2HtJZaYn6g {
	right: -10px;
	top: 50px;
	width: auto;
}

#logreader-root {
	width: 100%;
	height: 100%;
}

#logreader-root > div {
	height: 100%;
	overflow: auto;
}

#OQzYOSTmQCaw3UCPqqZD {
	display: none; /** we overwrite this */
}

.pbSpo9NMDX6Cpcig2wbr {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.IwCJTokvQlAyHwhvT5wy {
	background-color: var(--color-warning);
}

.IwCJTokvQlAyHwhvT5wy.EbeOnsXiQ_LTQJ4iEifl {
	background-color: var(--color-main-background);
	transition: background 1500ms ease-in;
}

.APZI1VeZ01hF7YWIDRQB {
	height: 100%;
	overflow: auto;
}


/*# sourceMappingURL=logreader-main.css.map*/