# SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: CC0-1.0

# Code coverge
.nyc_output/
coverage/

# Test output
cypress/screenshots/
cypress/videos/

# Locally installed packages
node_modules/
vendor/

build/
*.cache
