<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./bootstrap.php"
		 timeoutForSmallTests="900"
		 convertDeprecationsToExceptions="true"
		 timeoutForMediumTests="900"
		 timeoutForLargeTests="900"
		 colors="true"
>
	<testsuite name='Nextcloud - Logreader App Tests'>
		<directory suffix='.php'>./Unit</directory>
	</testsuite>
	<logging>
		<log type="coverage-clover" target="./clover.xml"/>
	</logging>
</phpunit>
