.logs {
	width: 100%;
	white-space: normal;
	margin-bottom: 14px;
}

.logs td, table.logs th {
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	padding: .8em;
	text-align: left;
	font-weight: normal;
	position: relative;
}

.logs .time {
	width: 100px;
}

.logs .app {
	width: 150px;
}

.logs .level {
	width: 100px;
}

/*info*/
.logs tr.level_1 {
	background-color: #BDE5F8;
}

/* warning*/
.logs tr.level_2 {
	background-color: #FEEFB3;
}

/*error*/
.logs tr.level_3 {
	background-color: #FFBABA;
}

/*fatal*/
.logs tr.level_4 {
	background-color: #ff8080;
}
