.logs {
  width: 100%;
  white-space: normal;
  margin-bottom: 14px;

  td, th {
    vertical-align: top;
    border-bottom: 1px solid #ddd;
    padding: .8em;
    text-align: left;
    font-weight: normal;
    position: relative;
  }

  .time {
    width: 100px;
  }

  .app {
    width: 150px;
  }

  .level {
    width: 100px;
  }

  /*info*/
  tr.level_1 {
    background-color: #BDE5F8;
  }

  /* warning*/
  tr.level_2 {
    background-color: #FEEFB3;
  }

  /*error*/
  tr.level_3 {
    background-color: #FFBABA;
  }

  /*fatal*/
  tr.level_4 {
    background-color: #ff8080;
  }
}
